<main>
  <div class="container">
    <div class="row">
      <div class="col 12">
        <div class="card #f5f5f5 grey lighten-4">
          <div class="card-content black-text">
            <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">詳細画面</a>
            <a href="#">編集</a>
            <a href="#">削除</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
<footer class="page-footer #ffa000 amber darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="center">© 2018 Copyright Text</p>
    </div>
  </div>
</footer>

<script type="text/javascript" src="./app.js"></script>
