  <div class="card #f5f5f5 grey lighten-4">
    <div class="card-content black-text">
      <span class="card-title">
        <%= article.title %>
      </span>
      <p>
        <%= article.article %>
      </p>
    </div>
    <div class="card-action">
      <%= link_to '詳細画面', article_path(article.id) %>
      <a href="#">編集</a>
      <a href="#">削除</a>
    </div>
  </div>
